{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'main/css/style1.css' %}">
<title>Lemon's Story 1</title>
{% endblock tambahan %}

{% block content %}
<div class="identitas">
    <img src="{% static 'main/img_story1/me.jpg' %}">
    <table class="table1">
        <tr>
            <td>Nama:</td>
            <td>Lela Monica Fitriany</td>
        </tr>
        <tr>
            <td>NPM:</td>
            <td>1906353896</td>
        </tr>
        <tr>
            <td>Angkatan:</td>
            <td>2019</td>
        </tr>
        <tr>
            <td>Hobi:</td>
            <td><i>Overthinking</i></td>
        </tr>
        <tr>
            <td>Tentang Saya:</td>
            <td>Seorang mahasiswi Universitas Indonesia jurusan Sistem Informasi
                yang memiliki minat di bidang IT dan sedang berusaha mengasah kemampuannya.</td>
        </tr>
    </table>
</div>
<table class="table2">
    <tr>
        <th colspan="2">Riwayat Pendidikan</th>
    </tr>
    <tr>
        <th>Nama Institusi</th>
        <th>Tahun</th>
    </tr>
    <tr>
        <td>Universitas Indonesia
        </td>
        <td>2019 - Sekarang</td>
    </tr>
    <tr>
        <td>SMAN 2 Kota Cirebon</td>
        <td>2016 - 2019</td>
    </tr>
    <tr>
        <td>SMPN 1 Kota Cirebon</td>
        <td>2013 - 2016</td>
    </tr>
    <tr>
        <td>SDI Al-Azhar 3 Kota Cirebon</td>
        <td>2007 - 2013</td>
    </tr>
    <tr>
        <td>TKI Al-Azhar 3 Kota Cirebon</td>
        <td>2005 - 2007</td>
    </tr>
</table>
<div class="social">
    <a class="icon" href="https://twitter.com/jack"><img src="{% static 'main/img_story1/twitter (1).png' %}"></a>
    <a class="icon" href="https://www.facebook.com/lelamonica.fitriany"><img src="{% static 'main/img_story1/facebook.png' %}"></a>
    <a class="icon" href="https://www.instagram.com/lela.mnc/"><img src="{% static 'main/img_story1/instagram.png' %}"></a>
</div>
{% endblock content %}

