{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'story6/css/style6.css' %}">
<title>Form Kegiatan</title>
{% endblock tambahan %}

{% block content %}
<h1 style="text-align: center;">Formulir Kegiatan</h1>

<div class="row d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group justify-content-center">
          <label for="exampleInputEmail1">Nama Kegiatan: </label>
          {{ form_kegiatan.nama_kegiatan }}
          <small id="emailHelp" class="form-text text-muted">Isi nama kegiatan yang mau kamu lakuin bareng aku</small>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary ">Simpan</button>
        </div>
    </form>
</div>

  
<!-- <form method="POST">
    {% csrf_token %}
    <table>
        {{ form_kegiatan.nama_kegiatan }}
    </table>
    
    <input class="btn btn-success" type='submit' value='Simpan'>
</form> -->
{% endblock content %}