{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'story6/css/style6.css' %}">
<title>My Schedule</title>
{% endblock tambahan %}

{% block content %}
<h1 style="text-align: center;">My Schedule</h1>

{% if daftar_kegiatan %}

<div class="row">
{% for kegiatan in daftar_kegiatan %}
    <div class="col-md text-center">
        <div class="card" style="width: 18rem; margin: 0 auto; float: none; margin-bottom: 30px;">
            <div class="card-body">
            <h3 class="card-title">{{ kegiatan.nama_kegiatan }}</h3>
            <p class="card-text">Pendaftar: </p>
                {% if kegiatan.pendaftar.all|length > 0 %}
    
                {% for nama in kegiatan.pendaftar.all %}
                <ul>
                    <li>{{ nama }}</li>
                </ul>
                {% endfor %}
    
                {% else %}
                    <p>Belum ada yang join :(</p>
                {% endif %}

                <!-- {% for peserta in daftar_peserta %}

                {% if peserta.kegiatan_pendaftar == kegiatan %}
                <ul>
                    <li>{{ peserta.nama_pendaftar }}</li>
                </ul>
                {% else %}
                    <p>Belum ada yang join :(</p>
                {% endif %}
                {% endfor %} -->
    
                <form action="{% url 'story6:addPendaftar' kegiatan.id %}" method="POST">
                    {% csrf_token %}
                    {{ form_pendaftar.nama_pendaftar }}
            
                    <input class="btn btn-primary" type='submit' value='Join Kuy'>
                </form>
            </div>
        </div>
    </div>
    

    <!-- <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h3 class="card-title">{{ kegiatan.nama_kegiatan }}</h3>
        <p class="card-text">Daftar Pendaftar: </p>
            {% if kegiatan.pendaftar.all|length > 0 %}

            {% for nama in kegiatan.pendaftar.all %}
            <ul>
                <li>{{ nama }}</li>
            </ul>
            {% endfor %}

            {% else %}
                <p>Belum ada yang join :(</p>
            {% endif %}

            <form action="{% url 'story6:addPendaftar' kegiatan.id %}" method="POST">
                {% csrf_token %}
                {{ form_pendaftar.nama_pendaftar }}
        
                <input class="btn btn-primary" type='submit' value='Join Kuy'>
            </form>

        <a href="#" class="card-link">Card link</a>
        </div>
    </div> -->

    <!-- <h3>{{ kegiatan.nama_kegiatan }}</h3>

    <p>Pendaftar: </p>

    {% if kegiatan.pendaftar.all|length > 0 %}

    {% for nama in kegiatan.pendaftar.all %}
        <p>{{ nama }}</p>
    {% endfor %}

    {% else %}
        <p>Belum ada yang join :(</p>
    {% endif %}

    <form action="{% url 'story6:addPendaftar' kegiatan.id %}" method="POST">
        {% csrf_token %}
        {{ form_pendaftar.nama_pendaftar }}

        <input class="btn btn-primary" type='submit' value='Join Kuy'>
    </form> -->


{% endfor %}
</div>

{% endif %}
    
{% endblock content %}