{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'story5/css/style5.css' %}">
<title>Detail Matkul</title>
{% endblock tambahan %}

{% block content %}
<h1>Detail Mata Kuliah {{ nama_matkul }}</h1>
<ul class="list-group">
    <li class="list-group-item">Nama Mata Kuliah : {{ nama_matkul }}</li>
    <li class="list-group-item">Nama Dosen : {{ dosen }}</li>
    <li class="list-group-item">Jumlah SKS : {{ sks }} </li>
    <li class="list-group-item">Deskripsi : {{ deskripsi }}</li>
    <li class="list-group-item">Semester : {{ semester }}</li>
    <li class="list-group-item">Ruangan : {{ ruang }}</li>
</ul>
<a class="btn btn-primary" href="{% url 'story5:list' %}">Kembali</a>
{% endblock content %}