{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'story5/css/style5.css' %}">
<title>Form Matkul</title>
{% endblock tambahan %}

{% block content %}
<h1>Formulir Mata Kuliah</h1>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    
    <input class="btn btn-success" type='submit' value='Simpan'>
</form>
{% endblock content %}