{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'story5/css/style5.css' %}">
<title>Daftar Matkul</title>
{% endblock tambahan %}

{% block content %}
<h1>Daftar Mata Kuliah</h1>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Matkul</th>
        <th scope="col">Hapus</th>
    </tr>
    </thead>
    <tbody>
        {% for matkul in daftar_matkul %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'story5:detail' matkul.id %}">{{matkul.nama_Matkul}}</td></a>
                <td><a class="btn btn-danger" href="{% url 'story5:delete' matkul.id %}">Hapus</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-warning" href="{% url 'story5:form' %}">Tambah</a>
{% endblock content %}