{% extends 'base.html' %}
{% load static %}

{% block tambahan %}
<link rel="stylesheet" href="{% static 'main/css/style3.css' %}">
<title>Lemon's Story 3</title>
{% endblock tambahan %}

{% block content %}
<div class="jumbotron jumbotron-profile">
  <div class="profile">
    <h2 class="head-section">Profile</h2>
    <hr>
    <img src="{% static 'main/img_story3/CircleMe.png' %}">
    <h4>Lela Monica Fitriany</h4>
    <p>An Information System student at University of Indonesia who is striving for success</p>
  </div>
</div>

<div class="container-fluid container-details">
  <div class="row mb-1">
    <div class="col text-center">
      <h4>About Me:</h4>
    </div>
  </div>

  <div class="row mx-5 justify-content-center">
    <div class="col-md-4">
      <ul class>
        <li id="emoji">Born in Sukabumi, 28th of December 2000</li>
        <li id="emoji">Currently live in Cirebon, West Java</li>
        <li id="emoji">I like playing games and reading short fictions</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid container-background" id="background">
  <div class="row pb-4">
    <div class="col text-center">
      <h2 class="head-section">Background</h2>
      <hr>
    </div>
  </div>

  <div class="row">

    <div class="col-md">
      <div class="card">
        <img src="{% static 'main/img_story3/Makara_UI.png' %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text"><u>Universitas Indonesia</u><br>2019 - 2023 (Expected)</p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card">
        <img src="{% static 'main/img_story3/smanda.png' %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text"><u>SMAN 2 Cirebon</u><br>2016 - 2019</p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card">
        <img src="{% static 'main/img_story3/spensa.png' %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text"><u>SMPN 1 Cirebon</u><br>2013 - 2016</p>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card">
        <img src="{% static 'main/img_story3/CircleAlazhar.png' %}" class="card-img-top">
        <div class="card-body">
          <p class="card-text"><u>SDI Al-Azhar 3 Cirebon</u><br>2007 - 2013</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid container-contact" id="contact">
  <div class="row">
    <div class="col-md">
      <h2 class="head-section">Contact</h2>
    </div>
  </div>
</div>

<div class="container-fluid container-icon">
  <div class="row">
    <div class="col-md">
      <a class="icon" href="https://twitter.com/day6official"><img src="{% static 'main/img_story3/iconfinder_online_social_media_twitter_734377.png' %}"></a>
      <a class="icon" href="https://www.facebook.com/lelamonica.fitriany"><img src="{% static 'main/img_story3/iconfinder_facebook_online_social_media_734399.png' %}"></a>
      <a class="icon" href="https://www.instagram.com/lela.mnc/"><img src="{% static 'main/img_story3/iconfinder_instagram_online_social_media_734394.png' %}"></a>
    </div>
  </div>
</div>

<footer>
  <p>Created with &#10084; by Lela Monica</p>
</footer>
{% endblock content %}
