{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  {% block tambahan %}
  {% endblock tambahan %}
</head>

<body>
    <div class="menu-bar">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{% static 'main/img_story3/lemon (2).png' %}">
        <a class="navbar-brand" href="#">Lela Monica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link" href="{% url 'main:home' %}">Story 3</a>
            <a class="nav-link" href="{% url 'main:story3exp' %}">Experiences</a>
            <a class="nav-link" href="{% url 'main:story1' %}">Story 1</a>
            <a class="nav-link" href="{% url 'story5:form' %}">Form Matkul</a>
            <a class="nav-link" href="{% url 'story5:list' %}">Daftar Matkul</a>
            <a class="nav-link" href="{% url 'story6:index' %}">My Schedule</a>
            <a class="nav-link" href="{% url 'story6:addKegiatan' %}">Form Kegiatan</a>
          </div>
        </div>
      </nav>
    </div>

    {% block content %}
    {% endblock content %}
</body>
  
</html>
