* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

.jumbotron{
    text-align: center;
    background-color: #F6F4E6 !important ;
    margin-bottom: 0;
}

.profile img {
    width: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.head-section {
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
}

hr {
    width: 200px;
    border-top: 3px solid #FDDB3A;
    margin: auto;
}

.container-details {
    height: 150px;
    width: 100%;
    color: white;
    background-color: #52575D;
}

ul {
    list-style: none;
}

#emoji::before {
    content: "\01F34B  ";
}

.container-background {
    background-color: #F6F4E6;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    margin-top: 15px;
    object-fit: contain;
    
}

.card {
    margin-bottom: 25px
}

.card-text {
    text-align: center;
}

.container-contact {
    text-align: center;
    background-color: #FDDB3A;
}

.container-icon {
    text-align: center;
    background-color: #52575D;
}

.icon img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.icon img:hover {
    opacity: 0.5;
}

footer {
    font-size: 14px;
    text-align: center;
    background-color: #52575D;
    color: white;
    height: 37px;
}

.jumbotron-exp {
    height: 100vh;
}

.carousel-item img {
    margin-top: 50px;
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.carousel-caption p {
    font-size: 30px;
    color: #FDDB3A;
    background: rgba(68, 65, 65, 0.5);
    display: table;
    margin: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2352575D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2352575D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}